{% extends 'blog/base.html' %} {% block content %}

  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle account-img" src="{{ post.author.profile.picture.url }}" alt="" srcset="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h3><a class="article-title" href="{% url 'detail_view' post.id %}">{{ post.title }}</a></h3>
        <p class="article-content" id="markdown">{{ post.content }}</p>
      </div>
    </article>
  {% endfor %} 

  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
      <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info mb-4">Prev</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>  
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>  
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
    {% endif %}

  {% endif %}

{% endblock content %}
