{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle account-img" src="{{ object.author.profile.picture.url }}" alt="" srcset="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user_posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update_view' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_view' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content" id="markdown">{{ object.content }}</p>
      <p class="article-content text-muted">{{ test }}</p>
    </div>
  </article>
{% endblock content %}
