{% extends 'blog/base.html' %} {% block content %}
<div class="content-section">
  <form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Delete Post</legend>
      <h2>Are you sure to delete "{{ object.title }}"?</h2>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
      <a class="btn btn-outline-secondary" href="{% url 'detail_view' object.id %}">Cancel</a>
    </div>
  </form>

</div>
{% endblock content %}
