{% extends 'blog/base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-section">
  <form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Sign in.</legend>
      {{ form | crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign In</button>
      <small class="text-muted ml-2">
        <a href="{% url 'password_reset' %}">Forgot password?</a>
      </small>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted"
      >Need a n account? <a href="{% url 'register' %}" class="ml-2">Sign up</a></small
    >
  </div>
</div>
{% endblock content %}
