{% extends 'blog/base.html' %} {% block content %}
<h3>You are logged out successfully.</h3>
<div class="border-top pt-3">
  <small class="text-muted"
    ><a href="{% url 'login' %}" ">Log in again.</a></small
  >
</div>
{% endblock content %}
