{% extends 'blog/base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="content-section">
  <form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join.</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted"
      >Already have an account?
      <a href="{% url 'login' %}" class="ml-2">Sign in</a></small
    >
  </div>
</div>
{% endblock content %}
